/*
Title: Style
Authors: Spencer T. Crosland
Purpose: General Styling for all pages in Master Contol Programs Site
*/

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url("../Images/Styling/Background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Fonts */

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0.5em 0;
}

h1 {
    color: #000000;
    -webkit-text-stroke-color: #00ff55;
    text-shadow:
        0 0 3px #00ff55,
        0 0 6px #00ff55,
        0 0 10px #00ff55;
}

h2 {
    color: #1a1919;
    -webkit-text-stroke-color: #ff0000;
    text-shadow:
        0 0 3px #ff0000,
        0 0 6px #ff0000,
        0 0 10px #ff0000;
        text-align: left;
}

h3 {
    color: #000000;
    -webkit-text-stroke-color: #00d0ff;
    text-shadow:
        0 0 3px #00d0ff,
        0 0 6px #00d0ff,
        0 0 10px #00d0ff;
    text-align: left;

}

p {
    color: #ffffff;
    -webkit-text-stroke-color: #00d0ff;
    text-shadow:
        0 0 3px #00ff55,
        0 0 6px #00d0ff,
        0 0 10px #ff0000;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}


/* Header */
header {
    background: url("../Images/Styling/Header.png") no-repeat center;
    background-size: 100% 300px;
    height: 230px;
    min-width: 1200px;
    position: relative; /* Important: allows absolute positioning inside */
}

/* Position the logo */
.Logo {
    position: absolute;
    top: 20px;          /* move up or down */
    left: 20px;         /* move left or right */
    width: 180px;       /* resize if needed */
    height: auto;
      border: 5px solid #00d0f9;
    border-radius: 20px;
    box-shadow: 0 0 20px #00d0f9;
}

/* Navigation */
nav {
    background: url(../Images/Styling/Nav.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 50px;
    border-top: 3px solid #00d0f9;
    border-bottom: 5px solid #00d0f9;
    padding: 0 20px;
    box-sizing: border-box;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    text-shadow: 0px 0px 3px #22a203;
    transition: background 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
    background: url(../Images/Styling/Nav.webp) center/cover no-repeat; 
    background-size: cover;
    background-color: #00d0f9;
    text-shadow: 4px 4px 2px #ff0000;
}

/* === Home Page === */
.feature {
    display: block;
}

/* === About Page === */

/* ==== Games Page ==== */

/* Sabacc Parlor */
.sabacc_Parlor img {
    height: 500px;
    width: 500px;
}

/* === Websites === */
.WDD130_Portla_Page img {
    border: 5px solid #00d0f9;
    border-radius: 15px;
    box-shadow: 0 0 15px #00ff55;
    position: absolute;
    max-height: 500px;
    width: auto;
}

/* FOOTER */
footer {
    background: ;
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 15px;
    border: 5px solid #00d0f9;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
    color: #32CD32;
    text-shadow: 1px 1px 3px #ffffff;
}
